<div class="g-footer">
    <div class="g-wrap">
        <ul class="m-state f-clear">
            <li><i class="ico ico-state ico-state-1"></i>公平公正公开</li>
            <li><i class="ico ico-state ico-state-2"></i>正品保证</li>
            <li class="last"><i class="ico ico-state ico-state-3"></i>权益保障</li>
        </ul>
        <p class="m-link"><a href="javascript:;" data-href="?c=help" class="blue">什么是一元夺宝？</a></p>
    </div>
</div>