<div class="g-body">
    <div class="m-intro">
        <div class="m-simpleHeader">
            <a href="javascript:;" class="m-simpleHeader-back" data-fn="back"><i class="ico-back"></i></a>
            <h1>商品详情</h1>
        </div>
        <div class="g-wrap m-intro-picWrap">{{{content}}}</div>
    </div>
</div>