<div class="m-simpleHeader">
    <a href="javascript:;" class="m-simpleHeader-back" data-fn="back"><i class="ico ico-back"></i></a>
    <h1>用户注册</h1>
</div>
<div class="m-login">
    <form id="regForm">
        <div class="m-login-form w-form">
            <div class="w-form-item w-inputBar w-bar">
                <div class="w-bar-label">帐号：</div><a href="javascript:;" class="w-bar-input-clear">×</a>
                <div class="w-bar-control">
                    <input placeholder="请输入手机号码" autocapitalize="off" class="w-bar-input" type="tel" name="phone">
                </div>
            </div>
            <div class="w-form-item w-inputBar w-bar">
                <div class="w-bar-label">密码：</div><a href="javascript:;" class="w-bar-input-clear">×</a>
                <div class="w-bar-control">
                    <input placeholder="请输入密码" autocapitalize="off" class="w-bar-input" type="password" name="password">
                </div>
            </div>
            <div class="w-form-item w-inputBar w-bar m-user-mobile-codeinput">
                <div class="w-bar-label">验证码：</div><a href="javascript:;" class="w-bar-input-clear">×</a>
                <div class="w-bar-control">
                    <input placeholder="请输入验证码" autocapitalize="off" class="w-bar-input" type="text" name="code">
                    <img src="data:image/png;base64,{{imgbase64}}" class="w-button" id="imgCode">
                </div>
                <input type="hidden" name="mark" value="{{mark}}">
            </div>
            <div class="w-form-item w-inputBar w-bar m-user-mobile-codeinput">
                <div class="w-bar-label">短信验证码</div>
                <div class="w-bar-control">
                    <input placeholder="请输入验证码" class="w-bar-input" type="tel" name="msgcode" value="">
                    <button type="button" class="w-button" id="getRegCode">获取验证码</button>
                </div>
            </div>
        </div>
        <div class="m-login-submit">
            <button class="w-button w-button-main" type="submit">立 即 注 册</button>
        </div>
        <div class="m-login-link">
            <a href="javascript:;" data-href="?c=login{{#if queryDdata.r}}&amp;r={{#encode queryDdata.r}}{{/encode}}{{/if}}">已有账号？直接登录</a>
        </div>
    </form>
</div>