<div class="m-pay-order m-pay-recharge">
    <div class="m-pay-order-options">
        <div class="m-simpleHeader"><a href="javascript:;" class="m-simpleHeader-back" data-fn="back"><i class="ico ico-back"></i></a><h1>充值</h1></div>
        <div class="w-bar m-pay-noBgTitleBar">1、选择充值金额（元）</div>
        <div class="m-pay-moneySelector">
            <div class="m-pay-moneySelector-item m-pay-moneySelector-item-selected" data-val="20">20</div>
            <div class="m-pay-moneySelector-item" data-val="50">50</div>
            <div class="m-pay-moneySelector-item" data-val="100">100</div>
            <div class="m-pay-moneySelector-item" data-val="200">200</div>
            <div class="m-pay-moneySelector-item" data-val=""><input type="text" name="data" placeholder="其他金额" pattern="[0-9]*"></div>
        </div>
        {{!-- <div class="w-bar">2、选择支付方式{{#if isWeixin}}{{else}} <span class="red">目前只支持微信支付{{/if}}</div>
        <span class="pro-radioGroup">
            <div class="w-radioBar w-bar{{#if isWeixin}} w-radioBar-checked{{else}} w-radioBar-disabled{{/if}}"><b class="w-radio"></b>微信支付<div class="w-bar-ext"><input name="type" value="recharge" type="radio" checked></div></div>
        </span> --}}
    </div>
    <div class="m-pay-order-submit">
        <button class="w-button w-button-main w-button-l{{#if isWeixin}}{{else}} w-button-disabled{{/if}}" id="rechargeBtn">提交{{#if isWeixin}}{{else}}(只支持微信支付){{/if}}</button>
    </div>
</div>