<div class="m-simpleHeader" ><a href="javascript:;" class="m-simpleHeader-back" data-fn="back"><i class="ico ico-back"></i></a><h1>支付结果</h1></div>
<div class="m-pay-result">
    <div class="m-pay-result-title">
        <h1>恭喜您，参与成功！<br>请等待系统为您揭晓！</h1>
        <div class="btns"><a href="javascript:;" class="w-button w-button-main" data-href="./">继续夺宝</a><a href="javascript:;" class="w-button w-button-aside" data-href="?c=buyRecord">查看夺宝记录</a></div>
    </div>
    <!-- <div class="m-pay-result-list">
        <h2>您成功参与了<b class="txt-red">1</b>件商品共<b class="txt-red">10</b>人次夺宝，信息如下：</h2>
        <div class="list">
            <div class="item">
                <div class="info"><a href="javascript:;" class="name">Apple iPhone6s 64G 颜色随机</a><span class="ext"><span class="num"><b class="txt-red">10</b>人次</span></span>
                </div>
                <table class="codes">
                    <tbody>
                        <tr>
                            <th>商品期号：</th>
                            <td>212060315</td>
                        </tr>
                        <tr>
                            <th>夺宝号码：</th>
                            <td><span class="code">10000740</span> <span class="code">10003465</span> <span class="code">10004509</span> <span class="code">10000778</span> <span class="code">10003018</span> <a class="code" href="javascript:;">查看全部</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>