<div class="m-simpleHeader">
    <a href="javascript:;" class="m-simpleHeader-back" data-fn="back"><i class="ico ico-back"></i></a>
    <h1>用户注册</h1>
</div>
<div align="center" style="margin-top:100px;">
    <span>长按扫描二维码，关注后进入即注册完成</span>
    <img style="width:258px;height:258px" src="{{img_reg}}" >
</div>